{
  "openapi": "3.0.1",
  "info": {
    "version": "v1",
    "title": "Svea Debt Collection Service",
    "description": "Debt Collection API",
    "contact": {
      "name": "Svea",
      "email": "email@sveafinans.no"
    },
    "license": {
      "url": "http://svea.com",
      "name": "Svea"
    }
  },
  "servers": [
    {
      "url": "https://services.sveafinans.no/DebtCollection",
      "description": "Production"
    },
    {
      "url": "https://services-test.sveafinans.no/DebtCollection",
      "description": "Test"
    }
  ],
  "paths": {
    "/api/Auth/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialsModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test environment"
          },
          {
            "url": "",
            "description": ""
          }
        ]
      }
    },
    "/api/Cases/{caseNumber}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a case based on the case number with general details and/or optional invoices details,\r\nevents, events planned, notes or letters sent",
        "parameters": [
          {
            "name": "WithGeneralDetails",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "WithInvoicesDetails",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "WithEvents",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "WithEventsPlanned",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "WithNotes",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "WithLettersSent",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "caseNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/{caseNumber}/letters/{letterGuid}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get a letter based on the case number and the letter's unique id",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "letterGuid",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseLetterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a list of new cases or cases with status changed  based on a search criteria",
        "parameters": [
          {
            "name": "CustomerNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Pnr",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Kunderef1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Kunderef2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InvoiceNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LicensePlate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CasesWithStatusChanged",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NewCases",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CaseType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CaseTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCasesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      },
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Creates multiple cases",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCasesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCasesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCasesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCasesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/ByStatus": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a list of cases by status, status group or case type",
        "parameters": [
          {
            "name": "statusId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statusGroupId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "caseTypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CustomerNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllByStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/WithNewMessages": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a list of all cases having new messages",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCasesWithNewMessagesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/WithChanges": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a list of all cases with changes since a provided date",
        "parameters": [
          {
            "name": "ReportDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2025-11-14 10:10:49.850"
            }
          },
          {
            "name": "CustomerNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeNoteChanges",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeStatusChanges",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeTransactionChanges",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludePaymentChanges",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeCaseTermination",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseWithChangesDataModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/{caseNumber}/Status": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets case status",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "description": "Case number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaseStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/{caseNumber}/Documents": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Adds a document to a case",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "description": "Case number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Document details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/CaseNumbers": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a list of cases (successful and failed) based on Batch Id or on Invoice Number and Customer Number",
        "parameters": [
          {
            "name": "BatchId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "InvoiceNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaseNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/Search/{input}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Gets a list of cases filtered by casenumber, reference 1, reference 2, debtor name or social number",
        "parameters": [
          {
            "name": "input",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/{caseNumber}/PaymentLink": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Returns a payment link for a case or creates a new payment link.",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "description": "Case number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the payment link request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/ForDebtor": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Searches for cases based on Social Number (Requires Special Authorization)",
        "parameters": [
          {
            "name": "socialNumber",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCasesBySocialResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/UnpaidDebt": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get unpaid debt based on Social Number and Organization Number (Requires Special Authorization)",
        "parameters": [
          {
            "name": "socialNumber",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgNumber",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpaidDebt"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/externalInfo": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Get external case info (Requires Special Authorization)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCasesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCasesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCasesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalCasesReponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/updates": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Send case updates",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SendUpdatesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendUpdatesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendUpdatesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendUpdatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseUpdateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Cases/performanceReport": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get",
        "parameters": [
          {
            "name": "parameters",
            "in": "query",
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceReportModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/cases/{caseNumber}/exists": {
      "get": {
        "tags": [
          "CasesExists"
        ],
        "summary": "Checks if case number exists in Sidra",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "description": "The case number to be checked",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the case number exists"
          },
          "404": {
            "description": "Returned if the case number does not exist"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Gets a list of contracts for the user based on specified filters",
        "parameters": [
          {
            "name": "ContractType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractTypeEnum"
            }
          },
          {
            "name": "StatusName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MinimumCapitalAmount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "MinimumNumberOfInvoices",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ScoreColor",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ScoreColorEnum"
            }
          },
          {
            "name": "DebtorType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DebtorType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Contracts/{contractType}/statuses": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Gets the list of possible contract statuses for each contract type",
        "parameters": [
          {
            "name": "contractType",
            "in": "path",
            "description": "The contract type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ContractTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Contracts/{contractStatusId}/updateStatus": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Updates status of a contract based on contract status id. User must have access to the contract",
        "parameters": [
          {
            "name": "contractStatusId",
            "in": "path",
            "description": "Contract status id to be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "New status for the specified contract type",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractStatusByReferenceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractStatusByReferenceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractStatusByReferenceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractStatusByReferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedContractStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/CustomerReportingMessages": {
      "get": {
        "tags": [
          "CustomerReportingMessages"
        ],
        "parameters": [
          {
            "name": "CustomerNumbersFilter",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "MessageType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2025-11-14 10:10:49.868"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerReportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/CustomerReportingMessages/receipt": {
      "post": {
        "tags": [
          "CustomerReportingMessages"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerReportsReceipt"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerReportsReceipt"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerReportsReceipt"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerReportsReceipt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerReportsReceiptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/customers/statistics": {
      "get": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerNumbers",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "debtorType",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "caseRoleType",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NordicStatistics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/exchangerates": {
      "get": {
        "tags": [
          "Exchange"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/cases/files": {
      "post": {
        "tags": [
          "Files"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "CustomerNumber": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/InkassoRegistry/registerEntitiesQuery": {
      "post": {
        "tags": [
          "InkassoRegistry"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityDataRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityDataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityDataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Message/{caseNumber}": {
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Creates a message on a case",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/MeterRecord": {
      "post": {
        "tags": [
          "MeterRecord"
        ],
        "summary": "Creates a list of meter records",
        "requestBody": {
          "description": "List of meter records with details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeterRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeterRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeterRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMeterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/Payment/Create": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Registers a payment",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPaymentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPaymentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPaymentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/PhoneSystem/cases": {
      "get": {
        "tags": [
          "PhoneSystem"
        ],
        "parameters": [
          {
            "name": "debtorPhone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseNumbersModel"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/PhoneSystem/cases/{caseNumber}": {
      "get": {
        "tags": [
          "PhoneSystem"
        ],
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseActiveStatusModel"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/PhoneSystem/cases/{caseNumber}/notes": {
      "post": {
        "tags": [
          "PhoneSystem"
        ],
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CaseNoteRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseNoteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseNoteRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CaseNoteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/statuses": {
      "get": {
        "tags": [
          "Statuses"
        ],
        "summary": "Gets a list of either statuses, status groups or case types",
        "parameters": [
          {
            "name": "RequestStatuses",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "RequestStatusGroups",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "RequestTypes",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllStatusesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/SubCustomer": {
      "post": {
        "tags": [
          "SubCustomer"
        ],
        "parameters": [
          {
            "name": "parentCustomerNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubCustomerRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubCustomerRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubCustomerRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/User/Name/{userName}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Gets name from username",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "description": "Logged in user name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNameFromUsernameResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    },
    "/api/User": {
      "post": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationErrorModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "APIKEY": []
          }
        ],
        "servers": [
          {
            "url": "https://services.sveafinans.no/DebtCollection",
            "description": "Production"
          },
          {
            "url": "https://services-test.sveafinans.no/DebtCollection",
            "description": "Test"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "APIKEY": {
        "type": "apiKey",
        "name": "APIKEY",
        "in": "header"
      }
    },
    "schemas": {
      "CredentialsModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "userName": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "userName",
          "password"
        ]
      },
      "TokenModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "token": {
            "type": "string",
            "nullable": true
          },
          "expiration": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-14 10:10:49.837"
          }
        }
      },
      "ValidationErrorModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "validationErrorMessage": {
            "type": "string",
            "nullable": true
          },
          "validationErrorId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CaseDetailsResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invoices": {
            "type": "array",
            "nullable": true,
            "description": "Gets or sets the Invoice.",
            "items": {
              "$ref": "#/components/schemas/InvoiceModel"
            }
          },
          "invoiceLines": {
            "type": "array",
            "nullable": true,
            "description": "Gets or sets the invoice lines.",
            "items": {
              "$ref": "#/components/schemas/InvoiceLineModel"
            }
          },
          "events": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/EventModel"
            }
          },
          "eventsPlanned": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/EventModel"
            }
          },
          "notes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/NoteModel"
            }
          },
          "lettersSent": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/LetterSentModel"
            }
          },
          "generalDetails": {
            "$ref": "#/components/schemas/CaseGeneralDetailsModel"
          }
        }
      },
      "InvoiceModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invoiceDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-14 10:10:49.838"
          },
          "invoiceDueDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-14 10:10:49.838"
          },
          "invoiceNumber": {
            "type": "string",
            "nullable": true
          },
          "invoiceAmount": {
            "type": "number",
            "format": "double"
          },
          "invoiceInterestAmount": {
            "type": "number",
            "nullable": true,
            "format": "double"
          },
          "invoiceAmountRemaining": {
            "type": "number",
            "format": "double"
          },
          "invoiceKidNr": {
            "type": "string",
            "nullable": true
          },
          "accountingDocumentNumber": {
            "type": "string",
            "nullable": true
          },
          "interestPercent": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "document": {
            "type": "string",
            "nullable": true,
            "format": "byte"
          }
        }
      },
      "InvoiceLineModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "amount": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the amount."
          },
          "claimType": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the claim type."
          },
          "invoiceNumber": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the invoice number."
          },
          "licensePlate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the license plate."
          },
          "meterId": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the meter id."
          },
          "passingDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the passing date."
          },
          "passingTime": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the passing time."
          },
          "refNumber": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the ref number."
          },
          "tollStation": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the toll station."
          }
        }
      },
      "EventModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "amount": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the amount."
          },
          "eventCode": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the event code."
          },
          "eventDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the event date."
          },
          "eventText": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the event text."
          },
          "letterDueDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the letter due date."
          }
        }
      },
      "NoteModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "clientManagerCode": {
            "type": "string",
            "nullable": true,
            "description": "Note user code"
          },
          "noteDate": {
            "type": "string",
            "nullable": true,
            "description": "Note date."
          },
          "noteText": {
            "type": "string",
            "nullable": true,
            "description": "Note text."
          },
          "noteTime": {
            "type": "string",
            "nullable": true,
            "description": "Note time."
          },
          "userType": {
            "type": "string",
            "nullable": true,
            "description": "Note user type"
          },
          "agentName": {
            "type": "string",
            "nullable": true,
            "description": "Note agent name."
          },
          "id": {
            "type": "integer",
            "description": "Note ID.",
            "format": "int32"
          },
          "categoryCode": {
            "type": "string",
            "nullable": true,
            "description": "Note category code."
          },
          "categoryName": {
            "type": "string",
            "nullable": true,
            "description": "Note category name."
          },
          "isTreated": {
            "type": "boolean",
            "description": "Note category name."
          },
          "treatedDateTime": {
            "type": "string",
            "nullable": true,
            "description": "Note category name.",
            "format": "date-time",
            "example": "2025-11-14 10:10:49.840"
          }
        }
      },
      "LetterSentModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "descriptionEn": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the description en."
          },
          "descriptionNo": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the description no."
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the due date."
          },
          "examiner": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the examiner."
          },
          "letterDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the letter date."
          },
          "letterNumber": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the letter number."
          },
          "letterGuid": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the letter unique id",
            "format": "uuid"
          }
        }
      },
      "CaseGeneralDetailsModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "address1": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the address 1."
          },
          "address2": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the address 2."
          },
          "caseNumber": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the case number."
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "clientManager": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the client manager."
          },
          "clientManagerEmail": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the client manager email."
          },
          "clientManagerPhone": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the client manager phone."
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the country."
          },
          "countryAbbreviation": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the country abbreviation."
          },
          "customerKid": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the customer kid."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the email."
          },
          "fees": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the fees."
          },
          "feesPayment": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the fees payment."
          },
          "feesRemaining": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the fees remaining."
          },
          "inkassoDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the inkasso date."
          },
          "interestClaim": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the interest claim."
          },
          "interestPayment": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the interest payment."
          },
          "interestRemaining": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the interest remaining."
          },
          "kid": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the kid."
          },
          "kunderef1": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the kunderef 1."
          },
          "kunderef2": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the kunderef 2."
          },
          "mainClaim": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the main claim."
          },
          "mainClaimPayment": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the main claim payment."
          },
          "mainClaimRemaining": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the main claim remaining."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the name."
          },
          "phoneNumber1": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the phone number 1."
          },
          "phoneNumber2": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the phone number 2."
          },
          "phoneNumber3": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the phone number 3."
          },
          "pnr": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the pnr."
          },
          "postalNumber": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the postal number."
          },
          "postalPlace": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the postal place."
          },
          "registrationDate": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the registration date."
          },
          "reminderCase": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the reminder case."
          },
          "statusCode": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the status code."
          },
          "statusGroupId": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the status group id."
          },
          "statusGroupName": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the status group name."
          },
          "statusId": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the status id."
          },
          "statusText": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the status text."
          },
          "statusText2": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the status text 2."
          },
          "totals": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the totals."
          },
          "totalsPayment": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the totals payment."
          },
          "totalsRemaining": {
            "type": "string",
            "nullable": true,
            "description": "Gets or sets the totals remaining."
          },
          "sveaAccountNumber": {
            "type": "string",
            "nullable": true
          },
          "customerNumber": {
            "type": "integer",
            "nullable": true,
            "description": "Gets or sets the customer number.",
            "format": "int32"
          },
          "normalizedRating": {
            "type": "integer",
            "nullable": true,
            "description": "Gets or sets the normalized rating.",
            "format": "int32"
          }
        }
      },
      "CaseLetterResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-14 10:10:49.843"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "descriptionEn": {
            "type": "string",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.843"
          },
          "examiner": {
            "type": "string",
            "nullable": true
          },
          "letterGuid": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true,
            "format": "byte"
          }
        }
      },
      "CaseTypeEnum": {
        "type": "string",
        "enum": [
          "All",
          "Active",
          "Closed"
        ]
      },
      "GetAllCasesResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cases": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CaseDetailsModel"
            }
          }
        }
      },
      "CaseDetailsModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "address": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "caseNumber": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "clientRef1": {
            "type": "string",
            "nullable": true
          },
          "clientRef2": {
            "type": "string",
            "nullable": true
          },
          "closedCode": {
            "type": "string",
            "nullable": true
          },
          "closedCodeDescription": {
            "type": "string",
            "nullable": true
          },
          "lastStatusChangeDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.845"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "postCode": {
            "type": "string",
            "nullable": true
          },
          "registrationDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.846"
          },
          "claim": {
            "type": "string",
            "nullable": true
          },
          "remainingClaim": {
            "type": "string",
            "nullable": true
          },
          "remainingFees": {
            "type": "string",
            "nullable": true
          },
          "remainingTotal": {
            "type": "string",
            "nullable": true
          },
          "remainingInterest": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "status2": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "customerNumber": {
            "type": "integer",
            "nullable": true,
            "format": "int32"
          },
          "messageDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.846"
          },
          "messageText": {
            "type": "string",
            "nullable": true
          },
          "normalizedRating": {
            "type": "integer",
            "nullable": true,
            "format": "int32"
          }
        }
      },
      "CreateCasesRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cases": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CaseModel"
            }
          }
        }
      },
      "CaseModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "customerNumber": {
            "type": "integer",
            "format": "int32"
          },
          "customerType": {
            "type": "string",
            "nullable": true
          },
          "debtor": {
            "$ref": "#/components/schemas/DebtorModel"
          },
          "externalId": {
            "type": "integer",
            "format": "int64"
          },
          "invoices": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/InvoiceModel"
            }
          },
          "type": {
            "$ref": "#/components/schemas/CaseType"
          },
          "capitalInterest": {
            "$ref": "#/components/schemas/InterestModel"
          }
        }
      },
      "DebtorModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "address": {
            "$ref": "#/components/schemas/AddressModel"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "externalId2": {
            "type": "string",
            "nullable": true
          },
          "externalId3": {
            "type": "string",
            "nullable": true
          },
          "kid": {
            "type": "string",
            "nullable": true
          },
          "mobilePhone": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "privatePhone": {
            "type": "string",
            "nullable": true
          },
          "socialNumber": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/DebtorTypeEnum"
          },
          "workPhone": {
            "type": "string",
            "nullable": true
          },
          "birthDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.848"
          }
        }
      },
      "AddressModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "addressLine1": {
            "type": "string",
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "nullable": true
          },
          "addressLine3": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DebtorTypeEnum": {
        "type": "string",
        "enum": [
          "PrivatePerson",
          "Company"
        ]
      },
      "CaseType": {
        "type": "string",
        "enum": [
          "Collection",
          "Reminder"
        ]
      },
      "InterestModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "amount": {
            "type": "number",
            "nullable": true,
            "format": "double"
          },
          "date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.848"
          },
          "currencyCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateCasesResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "batchId": {
            "type": "string",
            "format": "uuid"
          },
          "infoMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetAllByStatusResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cases": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CaseByStatusModel"
            }
          }
        }
      },
      "CaseByStatusModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "caseId": {
            "type": "integer",
            "format": "int32"
          },
          "caseNumber": {
            "type": "integer",
            "format": "int32"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "customerNumber": {
            "type": "integer",
            "nullable": true,
            "format": "int32"
          }
        }
      },
      "GetAllCasesWithNewMessagesResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cases": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CaseDetailsModel"
            }
          }
        }
      },
      "CaseWithChangesDataModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "caseNumber": {
            "type": "integer",
            "format": "int32"
          },
          "customerNumber": {
            "type": "integer",
            "format": "int32"
          },
          "statusChangedDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.851"
          },
          "lastPaymentDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.851"
          },
          "terminationDate": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2025-11-14 10:10:49.851"
          },
          "notesChanged": {
            "type": "boolean"
          },
          "statusChanged": {
            "type": "boolean"
          },
          "transactionsChanged": {
            "type": "boolean"
          },
          "paymentsChanged": {
            "type": "boolean"
          },
          "caseTerminated": {
            "type": "boolean"
          }
        }
      },
      "GetCaseStatusResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusModel"
          },
          "infoMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StatusModel": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "caseTypeDescription": {
            "type": "string",
            "nullable": true
          },
          "caseTypeId": {
            "type": "integer",
            "nullable": true,
[...]
